.login-container {
  position: absolute;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #000000;
  top: 50%;
  left: 50%;

  header {
    margin-bottom: 1rem;

    h2 {
      width: fit-content;
      margin: auto;
    }
  }

  form {
    display: grid;
    gap: 1rem;

    div {
      display: flex;
      align-items: center;
      padding: 0.4rem;
      border: #c6c6c6 1px solid;
      border-radius: 0.4rem;

      label {
        padding-right: 0.4rem;
        border-right: #c6c6c6 2px solid;
        font-weight: bolder;
      }

      input {
        border: none;
        border-radius: 0.2rem;
        height: 2rem;
        width: 20rem;
        padding: 0.4rem;

        &:focus {
          outline: none;
        }
      }
    }

    a {
      width: fit-content;
      margin: auto;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    button {
      text-transform: uppercase;
      font-weight: bolder;
      height: 2rem;
      border: none;
      border-radius: 0.2rem;
      color: white;
      background: var(--green);
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:active {
        filter: brightness(95%);
        box-shadow: inset 0 0 0.5rem #00000065;
      }
    }
  }
}